version: 0.1
log:
  level: <%= @log_level %>
  fields:
    service: registry
    environment: production
storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: <%= @registry_path %>
  delete:
    enabled: <%= @storage_delete_enabled %>
http:
  addr: <%= @registry_http_addr %>
  secret: "<%= @http_secret %>"
  headers:
    X-Content-Type-Options: [nosniff]
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
auth:
  token:
    realm: <%= @token_realm %>/jwt/auth
    service: container_registry
    issuer: <%= @registry_issuer %>
    rootcertbundle: <%= @rootcertbundle %>
